.transaction-history {
  border-collapse: collapse;
  width: 100%;
}

.transaction-history td,
.transaction-history th {
  border: 1px solid #ddd;
  padding: 8px;
  text-transform: uppercase;
  text-align: center;
}

.transaction-history tr:nth-child(even) {
  background-color: #f2f2f2;
}

.transaction-history tr:hover {
  background-color: #ddd;
}

.transaction-history th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgb(185, 201, 192);
  color: white;
}
